*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 75px;
    background-color: #ffc017;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}

.nml-links{
    text-decoration: none;
    color: black;
}

.links{
    margin-right: 50px;
    float: right;
}

.logo{
    margin-left: 50px;
}

.logo img{
    height: 45px;
}

.spcl-link{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}